<div class="row ep-top-100">
    &nbsp;
</div>
<div class="container" style="background-color: rgba(0,0,0,.5);">
    <div class="row">
        <div class="col-md-8 ep-40 text-center">
            <h4>
                Designed for Quick and Easy Desktop or Mobile Use.
            </h4>
            <p>
                The Tasks Application is designed to run as a mobile 
                application.
                <br/>In <a href="#settings">settings</a>, you can set reminders 
                and notifications to arrive as text messages, 
                application notifications, and emails.
            </p>
            <img class="img-fluid" src="{{ asset('images/tasks-desktop.jpg') }}" alt="Desktop view of the Tasks Application">
        </div>
        <div class="col-md-4 ep-40 hidden-sm-down">
            <img class="img-fluid" src="{{ asset('images/tasks-mobile.jpg') }}" alt="Mobile view of the Tasks Application">
        </div>
    </div>
</div>