
<div class="hero container p-4">
    <div class="col-md-12 text-center d-flex flex-column align-items-center">
        <h1>
            Tasks Manager
        </h1>
        <h3>
            Time and Task Management Application 
        </h3>
        <p class="ep-top-20">
            This application was originally part of Brysontech's Developement Tools Suite but has been split off into a stand alone application available to the public. This application is great for documenting daily tasks as well as organizing them.
        </p>
        <p>
            Each task has an associated time limit, which is a set goal for the task. Clients are scored on the timeliness of completing their tasks.
        </p>
        <p>
            Within the application, you are allowed to create teams and tasks can be shared with team members.
        </p>
    </div>
</div>
<div class="parallax parallax1">{% include 'Web/Sections/application.html.twig' %}</div>
<div class="hero container ep-40">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                About Us
            </h1>
            <h2 class="ep-top-20">
                A Dedicated team of Developers bringing useful applications and designs to market
            </h2>
            <p class="ep-top-20">
                Brysontech is as much a team as it is a business. Our goals are to bring functional
                applications and web designs to the world as well as be on the cutting edge of
                computer and programming technology
            </p>
        </div>
    </div>
</div>
<div class="parallax parallax2"></div>
<div class="hero container ep-40">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                Contact Us
            </h1>
            <h2 class="ep-top-20">
                We welcome your comments, feedback, and questions
            </h2>
            <p class="ep-top-20">
               Brysontech's developers are U.S. based and we are always eager to speak to existing 
               and potential users of our products.  We especially enjoy receiving constructive
               criticism and suggestions for improvement.  Do not hesitate to contact us at anytime.
            </p>
            <!-- Phone Number and Email -->
            <div class="d-flex justify-content-center">
                <div>
                    <p>
                        <a href='tel:803.450.0239'>
                            <span class="fa fa-phone icon-white">  803.450.0239</span>
                        </a>
                    </p>
                </div>
                <div class='ml-5'>
                    <p>
                        <a href='mailto:admin@brysontech.com'>
                            <span class="fa fa-envelope">  admin@brysontech.com</span>
                        </a>
                    <p>
                <div>
            </div>   
        </div>
    </div>
</div>