<div class="hero container ep-40">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                Task Manager
            </h1>
            <h2 class="ep-top-20">
                A Simple Task Management Application
            </h2>
            <h4 class="ep-top-20">
                We originally built this application to help manage our 
                'in-house' projects and activities and a couple weeks ago we 
                received a request to make it public.  There's a comments 
                section at the bottom to leave feedback, but the best feedback 
                is from subscribing and using the application. <br />
                ENJOY!
            </h4>
        </div>
    </div>
</div>
<div class="parallax"></div>
<div class="hero container ep-40">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                Task Manager
            </h1>
            <h2 class="ep-top-20">
                A Simple Task Management Application
            </h2>
            <h4 class="ep-top-20">
                We originally built this application to help manage our 
                'in-house' projects and activities and a couple weeks ago we 
                received a request to make it public.  There's a comments 
                section at the bottom to leave feedback, but the best feedback 
                is from subscribing and using the application. <br />
                ENJOY!
            </h4>
        </div>
    </div>
</div>
<div class="parallax"></div>
<div class="hero container ep-40">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>
                Task Manager
            </h1>
            <h2 class="ep-top-20">
                A Simple Task Management Application
            </h2>
            <h4 class="ep-top-20">
                We originally built this application to help manage our 
                'in-house' projects and activities and a couple weeks ago we 
                received a request to make it public.  There's a comments 
                section at the bottom to leave feedback, but the best feedback 
                is from subscribing and using the application. <br />
                ENJOY!
            </h4>
        </div>
    </div>
</div>