<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">tasks.brysontech.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a class="nav-link" href="#">Daily Tasks -automatically generate date here-</a></li>
      <li><a class="nav-link" href="#">Weekly Tasks</a></li>
      <li><a class="nav-link" href="#">Monthly/Miscellaneous Tasks</a></li>
    </ul>
  </div>
</nav>