<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>
                Search Results
            </h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        {% if results is not empty %}
            <table class="table table-hover table-striped table-dark">
                <thead class="thead-dark">
                    Tasks
                </thead>
                <tbody>
            {% for result in results %}
                    <tr>
                        <td>
                            <a href="/application/task/{{result.id}}" title="{{result.description}}">{{result.description}}</a>
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
        {% endif %}
        </div>
    </div>
</div>