{% extends 'Web/Layout/base.html.twig' %}

{% block body %}
    <div class="row ep-top-20">
        <div class="col-10 offset-1 col-md-4 offset-md-4">
            <h1 class="text-center">Register</h1>
            {% include 'Web/Forms/register.html.twig' %}
        </div>
    </div>
{% endblock %}