{% extends 'Web/Layout/base.html.twig' %}

{% block body %}
<div id="content ep-top-100">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Register</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1 center-block">
            {% include 'Web/Forms/register.html.twig' %}
        </div>
    </div>
    <div>
        <h3>Why Register</h3>
        <ul class="list-group">
            <li class="list-group-item">Registration is secure</li>
            <li class="list-group-item">Your participation can and will make "tasks" better</li>
            <li class="list-group-item">Be involved with a company that seeks to be on the cutting edge of web technology</li>
        </ul>
    </div>
</div>
{% endblock %}