{% extends 'Web/Layout/base.html.twig' %}

{% block body %}
<div id="content">
    <div class="row">
        <div class="col-sm-12">
            <h1>Register</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1">
            <form action="/register" method="POST" class="center-block" name="_register">
                <div class="form-group">
                    <label for="email" style="float:left;">
                        Email Address:
                    </label>
                    <input type="email" 
                           class="form-control" 
                           name="email" 
                           id="email" 
                           placeholder="username@domain.com"
                           value="{% if email is defined %}{{ email }}{% endif %}"
                           required>
                </div>
                <div class="form-group">
                    <label for="password" style="float:left;">
                        Password:
                    </label>
                    <input type="password" 
                           class="form-control" 
                           name="password1" 
                           id="password" 
                           placeholder=" y0uRP@$$w0rD"
                           required>
                </div>
                <div class="form-group">
                    <label for="_repeat_password" style="float:left;">
                        Repeat Password:
                    </label>
                    <input type="password" 
                           class="form-control" 
                           name="password1" 
                           id="_repeat_password" 
                           placeholder=" y0uRP@$$w0rD"
                           required>
                </div>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <input type="hidden" name="redirect_url" value="/account" />
                <button type="submit" class="btn btn-default">Submit</button>
                {% if error is defined %}<br />{{ error }}{% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}