{% extends 'Web/Layout/base.html.twig' %}

{% block body %}
<div id="content">
    <div class="row">
        <div class="col-sm-12">
            <h1>Registration Sent</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-10 col-sm-offset-1">
            Check your email at {{ email }} for a confirmation email.
        </div>
    </div>
</div>
{% endblock %}