<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!--<link href="Web/bootstrap.min.css">
            <link href="Web/site.css">-->
            <link rel="stylesheet" 
                  type="text/css" 
                  href="{{ asset('css/Bootstrap4.0/bootstrap.min.css') }}">
            <link rel="stylesheet" 
                  type="text/css" 
                  href="{{ asset('css/Web/site.css') }}">
            <link rel="stylesheet"
                  type="text/css"
                  href="{{ asset('css/font-awesome.min.css') }}"
        {% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('f161.ico') }}" />
    </head>
    <body>
        {% include 'Web/Layout/navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'Web/Modals/login.html.twig' %}
        {% include 'Web/Modals/register.html.twig' %}
        {% block javascripts %}
          <script src="js/jquery.min.js"></script>
          <script src="js/bootstrap.min.js"></script>  
        {% endblock %}
    </body>
</html>