<nav class="navbar navbar-toggleable-md navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" 
          type="button" 
          data-toggle="collapse" 
          data-target="#lrNavbar" 
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="col-6">
        <a class="navbar-brand" href="/">Tasks Manager</a>
    </div>
    <div class="col-6">
        <div class="collapse navbar-collapse" id="lrNavbar">
            <ul class="navbar-nav text-center ml-auto">
              <li class="nav-item nav-right">
                <a href="/login"
                   data-toggle="modal" 
                   data-target="#modal_login">Login</a>
              </li>
              <li class="nav-item nav-right" style="padding-left: 25px; padding-right: 25px;">
                <a href="/register"
                   data-toggle="modal"
                   data-target="#modal_register">Register</a>
              </li>
            </ul>
        </div>
    </div>
  </nav>
</div>