<nav class="navbar navbar-toggleable-md navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" 
          type="button" 
          data-toggle="collapse" 
          data-target="#lrNavbar" 
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Tasks Manager</a>

  <div class="collapse navbar-collapse" id="lrNavbar">
    <ul class="navbar-nav ml-auto"> 
        <div class="btn-group"
      <li class="nav-item">    
       <button class="btn btn-outline-secondary mr-2" 
                type="button" 
                data-toggle="modal" 
                data-target="#modal_login">
            Login
       </button>  
      </li>
      <li class="nav-item">   
       <button class="btn btn btn-outline-secondary mr-2"
                type="button"
                data-toggle="modal"
                data-target="#modal_register">
            Register
       </button>  
      </li>
        </div>
    </ul>
  </div>
</nav>

<!--<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse">
<div class="container-fluid">
    
    
      <div class="navbar-header">
        <button type="button" 
                class="navbar-toggle" 
                data-toggle="collapse" 
                data-target="#lrNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Tasks Manager</a>
     </div>
     <div id="lrNavbar" class="class navbar-collapse nav-link navbar-toggler-right">
        <button class="btn btn-sm btn-outline-secondary" 
                type="button" 
                data-toggle="modal" 
                data-target="#modal_login">
            Login
        </button>
        <button class="btn btn-sm btn-outline-secondary"
                type="button"
                data-toggle="modal"
                data-target="#modal_register">
            Register
        </button>
      </div>
     
</div>
</nav> -->   
