<nav class="navbar navbar-toggleable-md navbar-inverse" 
     role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            Tasks Manager
        </a>
        <button class="navbar-toggler navbar-toggler-right" 
                type="button" 
                data-toggle="collapse" 
                data-target="#lrNavbar" 
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>          
    </div>
    <div class="collapse navbar-collapse" 
       id="lrNavbar">
        <ul class="nav navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
                <a href="/application">
                    Application
                </a>
            </li> 
            <li class="nav-item nav-not-right">
                <a href="/application/settings">
                    Settings
                </a>
            </li> 
            <li class="nav-item">
                <a href="/logout">
                    Logout
                </a>
            </li> 
            {% else %} 
            <li class="nav-item nav-not-right">
                <a href="/register"
                   data-toggle="modal"
                   data-target="#modal_register">
                    Register
                </a>
            </li>
            <li class="nav-item">
                <a href="/login"
                   data-toggle="modal" 
                   data-target="#modal_login">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
 