<html>
    <body>
        <p>Click the following link or copy and paste it into your browser to confirm your account.</p>
        <br />
        <p>
            <a href="tasks.brysontech.com/register?email={{ email }}&token={{ additional.token }}" target="_blank">
                tasks.brysontech.com/register?email={{ email }}&token={{ additional.token }}
            </a>
        </p>
    </body>
</html>