<form class="form" id="form_categories">
    <div class="form-group row">
        <div class="col-4">
            <select class="form-control" name="select_category" id="select_category">
                <option value="1">
                    Default
                </option>
            </select>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" name="text_category" id="text_category">
        </div>
        <div class="col-4">
            <button class="btn btn-success col-12">
                Submit
            </button>
        </div>
    </div>
</form>