<div class="container-fluid bg-white text-black">
    <div class="container ep-top-100">
        <h4>
            <span style="color:gray">Settings for</span> {{ app.user.username }}
        </h4>
        </br>
        <div class="row">
            <div class="col-md-6 ep-40" style="border: 1px solid black">
                {% include 'Application/Settings/profile.html.twig' %}
            </div>
        </div>
        <div class="row ep-top-100">
            &nbsp;
        </div>
    </div>
    <div>
        <form id="add_category_form" action="/tasks/addCategory" method="post">
            Input Category Name: 
            <input type="text" name="name">
            <button type="submit" class="btn btn-primary">
                Add Category
            </button>
        </form>
    </div>
    <div>
        <form id="delete_category_form" action="/tasks/addCategory" method="post">
            Choose a Category to Delete:
            <label class="custom-control">
                <select class="custom-select">
                    {% for cat in categories %}
                        <option>{{ cat.name|e }}</option>
                    {%endfor%}
                </select>
            </label>
            <button type="submit" class="btn btn-primary">
                Delete Category
            </button>
        </form>
    </div>
            <script>

}

function deleteCategory(){
    console.log("calling delete category");
}
</script>
</div>