# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    app.provider.oauth:
        class: AppBundle\Security\Core\User\OAuthUserProvider
        arguments: [fos_user.user_provider.username,{facebook: facebookID, google: googleID}]

