<div class="modal fade" id="modal_login" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" 
                      method="POST" 
                      name="_login">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="application" />
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="email" name="_username" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" 
                       class="form-text text-muted text-center">
                    We'll never share your email with anyone else.
                </small>
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="_password" aria-describedby="passwordinput" placeholder="Enter Password">
            </div>
            <div class="form-group ep-top-20">
                <button type="submit" 
                        class="btn btn-primary col-md-6 offset-md-3">
                    Submit
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>