
<div class="container ep-top-100">
    Welcome {{ app.user.username }}!
    </br>
    {% include 'Application/Index/Tasks/index.html.twig' %}
    {% include 'Application/Layout/Modals/edit.html.twig' %}
    {% include 'Application/Layout/Modals/add.html.twig' %}
    {% include 'Application/Layout/Modals/delete.html.twig' %}
</div>
