body, html {
    height: 100%;
    background-color: #000;
    color:#FFF;
}

.navbar {
    background-color: rgba(15,15,15,0.9);
}

.brand {
    padding-right:15px;
    font-size: 30px;
}

.icon-white{
  color:white;  
}

.modal{
    background-color: rgba(0,0,0,0.9);
}

.modal-content{
    background-color: rgba(46,46,46,0.9);
}

.modal-content span{
    color: #FFF;
}

.btn-primary{
    background-color: rgba(15,15,15,0.9);
    border-color: rgba(15,15,15,0.9);
}

.btn-primary:hover{
    background-color: rgba(90,90,90,0.9);
    border-color: rgba(0,0,0,1);
}

.parallax { 
    

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    /* The image used */
    background-image: url("/images/hero/index/2017-05-01-hero-lg.jpg");
}

.parallax2 {
    /* The image used */
    background-image: url("/images/hero/index/2017-05-01-hero2.jpg");
}

.ep-top-20{
    padding-top: 20px;
}

.ep-left-20 {
    padding-left:20px;
}

.ep-top-100{
    padding-top:100px;
}

.ep-40{
    padding:40px;
}
