{% extends 'Web/Layout/base.html.twig' %}

{% block body %}
<div id="content">
    <div class="row ep-top-20">
        <div class="col-10 offset-1 col-md-4 offset-md-4">
            <h1 class="text-center">Login</h1>
            {% include 'Web/Forms/login.html.twig' %}
        </div>
    </div>
</div>
{% endblock %}

