<h1>Welcome to Teams</h1>
<form action="/application/teams/addteam" method="post">
  <div class="form-group">
    <label for="TeamName">Team Name</label>
    <input type="text" 
           class="form-control" 
           id="TeamName" 
           placeholder="Enter Team Name">
  </div>
     <button type="submit" class="btn btn-default">Submit</button>
</form>
