<h1>Welcome to Teams</h1>
<form>
  <div class="form-group">
    <label for="TeamName">Team Name</label>
    <input type="text" 
           class="form-control" 
           id="TeamName" 
           placeholder="Enter Team Name">
  </div>
</form>
